<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <display-name>ClientWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TimeSeriesServlet</display-name>
    <servlet-name>TimeSeriesServlet</servlet-name>
    <servlet-class>com.mycompany.app.web.servlet.TimeSeriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeSeriesServlet</servlet-name>
    <url-pattern>/TimeSeriesServlet</url-pattern>
  </servlet-mapping>
</web-app>